:root {
    --title-font: 'JOURNALISM';
    --content-font: 'Montserrat';
    --decor-font: 'Klementina';
		/* --decor-font: 'SFUIDisplay'; */
}

@font-face {
    font-family: 'HeadingNow-95';
    src: url('../fonts/HeadingNow-95Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    display: contents;
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font: 400 2.3364485981vw/1.33 var(--content-font), sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: #000411;
}

@media (min-width: 428px) {
    html {
        font: 400 10px var(--content-font), sans-serif;
    }
}

body {
    background-color: #f8f4f4;
    max-width: 428px;
    margin: 0 auto;
}
img {
	display: block;
	margin: 0 auto;
}
p {
	display: inline;
}

.wrapper {
	display: block;
	max-width: 428px;
	margin: 0;
	padding: 0;
}
.header {
	background-image: url(../images/girlHeader.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 30px;
	padding-bottom: 75px;
}
.headerimg {
	width: 175px;
	margin-bottom: 40px;
}
.maraphonHeader {
	display: flex;
	font-family: 'SF Pro Display';
	font-weight: 400;
	font-size: 14px;
	color: #FF2F69;
	margin: 0 auto;
	padding: 6px 16px 6px 16px;
	border-radius: 50px;
	border: 0;
	background-color: #FFFFFF;
	align-items: center;
	justify-content: center;
}

.uppercase {
	text-transform: uppercase;
}

.headerTitle {
	margin:  20px auto 16px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 36px;
	font-family: HeadingNow-95;
}
.poragraf {
	margin: 16px 0 295px 0;
	font-family: 'SF Pro Display';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	justify-content: center;
}
.orange {
	color: #FFE3E3;
}
.white {
	color: #FFFFFF;
}
.line {
	width: 100%;
	margin: 0 auto;
	align-items: center;
}
.priceTime {
	margin: 40px 0 10px 20px;
	display: grid;
	grid-template-columns: 190px 190px;
	gap: 10px;
	font-size: 16px;
}
.price {
	width: 190px;
	height: 102px;
	font-size: 16px;
	color: #fff;
	padding: 0;
	margin: 0;
	border: 1px solid #fff;
	border-radius: 26px;
	/* text-align: center; */
}
.price img {
	width: 68px;
	margin: 30px 12px 0 0;
	display: inline;
	text-align: center;
	justify-content: center;
}
.timeLeft{
	border: 1px solid #fff;
	color: #fff;
	padding: 0;
	margin: 0;
	border-radius: 26px;
}

.timer__items {
  display: flex;
	flex-direction: row;
  font-size: 20px;
	position: absolute;
	color: #fff;
	font-family: SFUIDisplay;
	font-weight: 600;
}
.timer__item {
  position: relative;
  min-width: 1%;
  margin: 35px 0 0 0;
  
	padding: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.timer__seconds {
	margin-left: -12px;
}
.timer__minutes {
	margin-left: 0;
	/* margin-right: -5px; */
	
}
.timer__item::before {
  content: attr(data-title);
  display: flexbox;
  position: relative;
  left: 114%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 10px;
}
/* .timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
} */

.mainH1 {
	font-family: 'HeadingNow-95';
	font-weight: 500;
	font-size: 28px;
	text-align: center;
	background: radial-gradient(71.61% 123.17% at 28.39% 12.5%, #999999 0%, #606060 45.5%, #999999 71%, #333333 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	margin-bottom: 50px;
}
.foryou {
	font-family: 'SF Pro Display';
}
.foryouBlock {
	background: linear-gradient(42.59deg, #E3E3E3 19.35%, #FFFFFF 83.46%);
border: 1px solid #D4D4D4;
border-radius: 50px;
margin-bottom: 20px;
}
.lineItem {
	display: flex;
}
.foryouBlock p {
	color: #FF2F69;
	font-size: 16px;
	font-weight: 700;
	
	margin: 42px 0 30px 30px;
}
.foryouBlock img {
	width: 34px;
	height: 34px;
	margin: 25px 0 0 294px;
	align-items: center;
}
.foryouBlock h5 {
	font-size: 20px;
	font-weight: 600;
	color: #333333;
	margin: 30px;
	margin-top: 0;
}
.foryouBlock h6 {
	color: #909090;
	font-size: 16px;
	font-weight: 400;
	margin: 30px;
}
.aboutAutor {
	margin-top: 90px;
}
.aboutNastya {
	border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
	border-radius: 100px;
	margin-bottom: 50px;
}
.aboutNastya img {
	width: 100px;
	margin: 20px;
}
.aboutNastya h5 {
	font-size: 16px;
	color: #333333;
	margin: 26px 20px 4px 0;
}
.aboutNastya h6 {
	font-size: 14px;
	color: #818181;
	margin: 0 14px 26px 0;
}
.discribeAll {
	display: flex;
}
.discribeAll img {
	width: 199px;
}
.discribe h1 {
	color: #FF2F69;
	font-size: 36px;
	font-family: 'HeadingNow-95';
	font-weight: 500;
	margin-bottom: 6px;
}
.discribe h5 {
	color: #333333;
	font-size: 16px;
	font-family: 'SF Pro Display';
	font-weight: 400;
	margin-bottom: 30px;
}
.aboutStretching{
	margin-bottom: 50px;
}
.yobanayaKartinka {
	display: flex;
	position: relative;
	left: 20px;
	top: 20px;
}
.yobanayaKartinka img {
	width: 43px;
	margin: 0;
}
.discribeStretching {
	font-size: 20px;
	font-weight: 400;
	font-family: 'SF Pro Display';
	color: #333333;
	font-style: italic;
	padding-left: 10px;
	border: 1px solid #EBEBEB;
	background: linear-gradient(42.59deg, #E3E3E3 19.35%, #FFFFFF 83.46%);
	border-radius: 26px 4px 4px 26px;

}
.discribeStretching h5 {
	font-weight: 400;
	text-indent: 45px;
	margin: 30px 10px 30px 30px;
}
.sellAndButton h1 {
	color: #FF2F69;
	font-size: 16px;
	font-weight: 500;
	font-family: 'HeadingNow-95';
	text-align: center;
	margin: 0 0 40px 0;
}
.sellAndButton img {
	margin-bottom: 90px;
}
.maraphonTitle {
	font-family: 'HeadingNow-95';
	font-weight: 500;
	font-size: 23px;
	text-align: center;
	background: radial-gradient(71.61% 123.17% at 28.39% 12.5%, #999999 0%, #606060 45.5%, #999999 71%, #333333 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	margin-bottom: 50px;
}
.maraphonBlock img {
	width: 257px;
}
.maraphonBlock h5 {
	font-size: 16px;
	

}

