.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.background {
  position: relative;
  display: block;
  max-width: 428px;
  margin: 0 auto;
}
.container {
  position: relative;
  display: block;
  /* max-width: 428px; */
  margin: 0 auto;
}
img {
  width: 100%;
}
a {
  max-width: 428px;
}
.main-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 444px) {
  .main-button {
    width: 85.98%;
  }
  .rose-button,
  .black-button {
    width: 71.96%;
  }
}
@media (min-width: 444px) {
  .main-button {
    width: 368px;
  }
  .rose-button,
  .black-button {
    width: 308px;
  }
}

.swipper1 {
  background: #fff;
  position: absolute;
  top: 24.5%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 430px;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.swipper2 {
  background: #fff;
  position: absolute;
  top: 43.1%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 430px;
  width: 100%;
  max-height: 510px;
  height: 100%;
  overflow: hidden;
}
.swiper-container {
  width: 100%;
}
.swiper-container2 {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  max-height: 400px;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.background {
  display: block;
  max-height: 10130px;
  height: 100%;
  max-width: 428px;
  margin: 0 auto;
}
img {
  width: 100%;
  display: block;
}
a {
  max-width: 428px;
}
.rose-button,
.black-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rose-button {
  top: 63.1%;
}
.black-button {
  top: 92.4%;
}

@media (max-width: 444px) {
  .main-button1,
  .main-button2,
  .main-button3 {
    width: 85.98%;
  }
  .rose-button,
  .black-button {
    width: 71.96%;
  }
  .rose-button {
    top: 63%;
  }
  .black-button {
    top: 92.2%;
  }
}
@media (min-width: 444px) {
  .main-button1,
  .main-button2,
  .main-button3 {
    width: 368px;
  }
  .rose-button,
  .black-button {
    width: 308px;
  }
}

.swiper-container {
  max-width: 428px;
  overflow: hidden;
  margin: 0 auto;
}
.swiper-container2 {
  max-width: 428px;
  overflow: hidden;
  margin: 0 auto;
}
.swiper-slide {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  max-height: 400px;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

@media (max-width: 444px) {
}
